body {
  color-scheme: dark;
  --font-oldwizard: 'Old Wizard', monospace;
  font-family: var(--font-oldwizard);
  font-size: x-large;
  color: #000000;
}

.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.game {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.header  { grid-area: header; padding: 8px }
.content { grid-area: content; }
.footer  { grid-area: footer; }

.grid-template-columns-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.bg-cover-bottom{ background: center bottom / cover no-repeat url('/bg.png'); }

.bg-intro{ background: center / cover url('/bg1.png'); }

.glass {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 12px;

  backdrop-filter: blur(22px) saturate(120%);
  -webkit-backdrop-filter: blur(22px) saturate(120%);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15) inset 0 1px 0 rgba(255, 255, 255, 0.06);
}

.panels {
  display: grid;
  grid-template-rows: 1fr;
}

.modal {
  border-image-source: url(/bg1.png);
  border-image-slice: 10% fill;
  border-width: 8px;
  border-image-repeat: stretch;
}

.button-bg {
  border-image-source: url(/button.png);
  border-image-slice: 10% fill;
  border-width: 8px;
  border-image-repeat: stretch;
}

.button {
  cursor: pointer;
  font-size: medium;
  line-height: 0.8;
  padding: 5px 5px;
}

.mi2-scribble{display:inline-block;width:64px;height:64px;background-image:url('/mi2_ui_scribbles.png');background-repeat:no-repeat;image-rendering: pixelated;background-size:320px 192px; opacity: 20%;}
.mi2-scribble-0{background-position:0px 0px;}
.mi2-scribble-1{background-position:-64px 0px;}
.mi2-scribble-2{background-position:-128px 0px;}
.mi2-scribble-3{background-position:-192px 0px;}
.mi2-scribble-4{background-position:-256px 0px;}
.mi2-scribble-5{background-position:0px -64px;}
.mi2-scribble-6{background-position:-64px -64px;}
.mi2-scribble-7{background-position:-128px -64px;}
.mi2-scribble-8{background-position:-192px -64px;}
.mi2-scribble-9{background-position:-256px -64px;}
.mi2-scribble-10{background-position:0px -128px;}
.mi2-scribble-11{background-position:-64px -128px;}
.mi2-scribble-12{background-position:-128px -128px;}
.mi2-scribble-13{background-position:-192px -128px;}
.mi2-scribble-14{background-position:-256px -128px;}