html {
	font-size: 100%;
	width: 100%;
	height: 100%;
	background: #000;
}

body {
	font-family: -apple-system, 'Segoe UI', Helvetica, Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

#root {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#app {
	display: none;
}
